
<section class="section">
    <div class="title-header">
        <div>
            <h2 class="title">Resident Profile</h2>
        </div>
        <div class="back-container">
            <button class="back-button" routerLinkActive="active" routerLink="/residents-list">Back</button>
        </div>
    </div>

    
    
    <div class="form-container" *ngIf = Resident >
        <div class="upload-container">
            <div class="preview">
                <img [src]="Resident.imageFile" [alt]="Resident.imageFile">
            </div>

            
        </div>

        <h2 class="profile-details">Profile Details</h2>
        <div class="input-container">
            <div class="left-input-container">
            
                    <div class="form-group">
                        <label class="input-label">First Name:</label>
                       {{Resident.first_name}}
                        <br><br>
                    </div>

                    <div class="form-group">
                        <label class="input-label">Middle Name:</label>
                        {{Resident.middle_name}}
                        <br> 
                        <br>
                    </div>

                    <div class="form-group">
                        <label class="input-label">Last Name:</label>
                        {{Resident.last_name}}
                        <br>
                        <br>
                        
                    </div>

                    <div class="form-group">
                        <label class="input-label">Date of Birth:</label>
                        {{Resident.birth_date}}
                        <br>
                        <br>
                    </div>

                    <div class="form-group">
                        <label class="input-label">Address:</label>
                        {{Resident.address}}
                        <br>
                        <br>
                    </div>
            </div>


            <div class="right-input-container">
                <div class="form-group">
                    <label class="input-label">Sex:</label>
                    {{Resident.sex}}
                    <br>
                    <br>
                </div>

                <div class="form-group">
                    <label class="input-label">Email:</label>
                    {{Resident.email}}
                    <br>
                    <br>
                </div>

                <div class="form-group">
                    <label class="input-label">Number:</label>
                   {{Resident.phone_number}}
                    <br>
                    <br>
                </div>

                <div class="form-group">
                    <label class="input-label">Civil Status:</label>
                    {{Resident.civil_status}}
                    <br>
                    <br>
                </div>

                <div class="form-group">
                    <label class="input-label">Occupation:</label>
                    {{Resident.occupation}}
                    <br>
                    <br>
                </div>

            </div>
        </div> 
                
    </div>

</section>