
<section>
    <div class="header">
      <h1>Resident Profile</h1>
  
      <button class="back-btn" routerLinkActive="active" routerLink="/residents-list">
        Back
      </button>
    </div>
    <!-- <div class="add-info">
                      <h5>ID:</h5>
                      <input type="number" />
                  </div> -->
  
    <div class="res-content">
      <div class="resident-profile">
        
             
      
          <div class="infos">
           
            <div class="drag-area">
  
                
  
               <img src= "file" >  
               <!-- [alt]= "editForm.value.imageFile"  -->
                      
                  </div> 
                  <!-- <input class="file-input"  type="file"> -->
            <div class="form-group">
              <h5>First Name:</h5>
              <h5>First Name:</h5>
            
          </div>
          
          <div class="form-group">
              <h5>Middle Name:</h5>
              <h5>First Name:</h5>
            
          </div>
          
          <div class="form-group">
              <h5>Last Name:</h5>
              <h5>First Name:</h5>
              
          </div>
  
  
          <div class="form-group">
              <h5>Date of Birth:</h5>
              <h5>First Name:</h5>
             
          </div>
  
          <div class="form-group">
              <h5>Address:</h5>
              <h5>First Name:</h5>
          </div>
  
          
  
          <div class="form-group">
              <h5>Occupation:</h5>
              <h5>First Name:</h5>
             
          </div>
  
          <div class="form-group">
              <h5>Email:</h5>
              <h5>First Name:</h5>
         
          </div>
  
          <div class="form-group">
              <h5>Phone Number</h5>
              <h5>First Name:</h5>

          </div>
  
          <div class="form-group">
              <h5>Civil Status:</h5>
              <h5>First Name:</h5>
             
            
          </div>
  
          <div class="form-group">
              <h5>Sex:</h5>
              <h5>First Name:</h5>
          </div>
  
          
           
            
          </div>

      </div>
    </div>
  </section>
  