
<div class="sidebar">
    <div class="logo_content">
      <br>
      <div class= "time-date">
      <iframe src="https://free.timeanddate.com/clock/i7umerch/n4192/fn11/fs28/fcfff/tct/pct/tt0/tw0/tm1/ts1/tb4" frameborder="0" width="144" height="70" allowtransparency="true"></iframe>
    </div>
      
      <img class="logooo" src="../assets/img/logo.png">
  
  
  
    </div>
    <ul class="nav_list">
  
      <li>
        <a href="#">
          <i class="bx bx-grid-alt"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/residents-list">
          <i class="bx bx-user"></i>
          User
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          Messages
        </a>
        <span></span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-pie-chart-alt-2"></i>
          Reports
        </a>
  
      </li>
      <li>
        <a href="#">
          <i class="bx bx-folder"></i>
          Announcements
        </a>
  
      </li>
  
  
      <li>
        <a routerLinkActive="active" routerLink="/view-resident">
          <i class="bx bx-cart-alt"></i>
          Hehe
        </a>
  
      </li>
      <li>
        <a href="#">
          <i class="bx bx-heart"></i>
          Saved
        </a>
  
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          Setting
        </a>
  
      </li>
    </ul>
   
  </div>

