<section class="section">
    <div class="title-header">
        <div>
            <h2 class="title">Edit Resident Profile</h2>
        </div>
        <div class="back-container">
            <button class="back-button" routerLinkActive="active" routerLink="/residents-list">Back</button>
        </div>
    </div>

    
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <div class="upload-container">
            <div class="preview">
                <img [src]="editForm.value.imageFile" [alt]="editForm.value.imageFile">
            </div>

            
        </div>

        <h2 class="profile-details">Profile Details</h2>
        <div class="input-container">
            <div class="left-input-container">
            
                    <div class="form-group">
                        <label class="input-label">First Name:</label><br>
                        <input type="text" placeholder="First Name" class="form-control" name="first_name"
                            formControlName="first_name">
                            <br> 
                        <div class="invalid-feedback" *ngIf="submitted && myForm.first_name.errors?.required">
                            Name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="input-label">Middle Name:</label><br>
                        <input type="text" placeholder="Middle Name" class="form-control" name="middle_name"
                            formControlName="middle_name">
                            <br> 
                        <div class="invalid-feedback" *ngIf="submitted && myForm.middle_name.errors?.required">
                            Name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="input-label">Last Name:</label><br>
                        <input type="text" placeholder="Last Name" class="form-control" name="last_name"
                            formControlName="last_name">
                        <br>
                        <div class="invalid-feedback" *ngIf="submitted && myForm.last_name.errors?.required">
                            Name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="input-label">Date of Birth:</label><br>
                        <input placeholder="--" class="form-control" type="date" name="birth_date"
                            formControlName="birth_date">
                        <div class="invalid-feedback" *ngIf="submitted && myForm.birth_date.errors?.required">
                            Name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="input-label">Address:</label><br>
                        <input type="text" placeholder="Home Address" class="form-control" name="address"
                            formControlName="address">
                        <div class="invalid-feedback" *ngIf="submitted && myForm.address.errors?.required">
                            Name is required.
                        </div>
                    </div>
            </div>


            <div class="right-input-container">
                <div class="form-group">
                    <label class="input-label">Sex:</label><br>
                    <select class="custom-select form-control" name="sex"
                        (change)="updateProfile($any($event.target).value)" formControlName="sex">
                        <option value="" selected disabled hidden>--</option>
                        <option *ngFor="let genderProfile of GenderProfile" value="{{ genderProfile }}">
                            {{ genderProfile }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="input-label">Email:</label><br>
                    <input type="text" placeholder="example@gmail.com" class="form-control" formControlName="email">
                    <div class="invalid-feedback" *ngIf="submitted && myForm.email.errors?.pattern">
                        Enter valid email.
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-label">Number:</label><br>
                    <input type="text" placeholder="+63" class="form-control" formControlName="phone_number">
                    <div class="invalid-feedback" *ngIf="submitted && myForm.phone_number.errors?.pattern">
                        Enter Numbers Only
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-label">Civil Status:</label><br>
                    <select class="custom-select form-control" name="civil_status"
                        (change)="civil_statusProfile($any($event.target).value)" formControlName="civil_status">
                        <option value="" selected disabled hidden>--</option>
                        <option *ngFor="let civilStatusProfile of CivilStatusProfile" value="{{ civilStatusProfile }}">
                            {{ civilStatusProfile }}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && myForm.civil_status.errors?.required">
                        Choose designation.
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-label">Occupation:</label><br>
                    <input type="text" id="ame" placeholder="please specify" class="form-control" name="occupation"
                        formControlName="occupation">
                    <div class="invalid-feedback" *ngIf="submitted && myForm.sex.errors?.required">
                        Choose designation.
                    </div>
                </div>

            </div>
        </div> 
                <div class="form-group">
                    <div class="button-container">
                        <button class="save-button">Save</button>
                    </div>
                </div>
    </div>
</form>
</section>